@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

html {
    max-width: 1420px;
    min-width: 375px;
    max-height: 426px;
    min-height: 800px;
    background-color: #FFF;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.container {
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 800;
}

.intituicao h1 {
    padding-left: 8px;
}

img {
    width: 45px;
    height: 42px;
}

ul {
    display: flex;
}

nav ul li {
    font-size: 15px;
    font-weight: 400;
    padding-left: 30px;
}

.menu-cor a {
    background: #5BC241;
    color: #FFFFFF;
    border-radius: 10px;
}

.menu-cor.um a {
    font-weight: 400;
    padding: 11px 7px;
}

.menu-cor.dois a {
    font-weight: 300;
    padding: 11px 21px;
}


/* 
 = -= - =- = -= - =- =- = -= - =- = -
     
        MEDIA    DISPLAY

= -= - =- = -= - =- =- = -= - =- = -
*/


@media(max-width: 817px) {
    .container {
        padding: 45px;
        display: flex;
        flex-direction: column;
    }

    .logo {
        justify-content: start;
    }

    nav {
        margin-left: 20px;
    }

    nav ul li {
        padding-top: 30px;
    }
}


@media(max-width: 680px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li {
        padding: 10px;
    }
}